footer{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    
}

.footer-content{
    display:flex;
    flex-direction: column;
    color: #1e1e1e;
    background-color:#d4a017;
    
}

.footer-pt1{
    display:flex;
    flex-direction: row;
    margin: 0 10px 0 30px;
    padding: 50px;
    justify-content: space-between;
    
    
}

.footer-brand p{
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.6;
}


.footer-section{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.footer-section h3 {
  margin-bottom: 10px;
  white-space: nowrap;
}

.footer-section ul {
  list-style: none;        
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;                
}

.footer-section li {
  margin-bottom: 0.5rem;
}
.footer-section a {
  cursor: pointer;
  color: #1e1e1e;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-section a:hover{
    color: #0040ea;
    cursor: pointer;
}

.socials{
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    
}

.social-icons a{
    
    margin-right: 10px;
    padding: 0.3rem;
    text-decoration: none;
    font-size: 24px;
    flex-direction: row;
    color: #1e1e1e;
    transition: color 0.3s ease;
    justify-content: space-around;
}

.socials a:hover{
    color: #0040ea;
    cursor: pointer;
}




.div-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding-left: 2px;
    padding-top: 10px;
    padding-bottom: 25px;
    
}

.footer-line {
  width: 88.5%;
  height: 3px;
  background-color: #1e1e1e;
  margin: 40px 50px 0 70px;
  
}

.footer-note{
    border-color: #1e1e1e;
    padding: 0 0 0 70px;
    margin-right: 50px;
    
}


.footer-end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
    padding-right: 76px;
    
}

.footer-end div:hover{
    color: #0040ea;
    cursor: pointer;
}

